# LangChain Integrations
langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain_groq
langchain_huggingface

# Vector Store
chromadb

# User Interface
streamlit
watchdog

# Data Handling
pandas

# Environment Variable Management
python-dotenv

# Embedding Models
sentence-transformers
